 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width: 80%;
    max-width: 700px;
    border-radius: 0.5rem;
    font-family: 'joesfin sans';
}
.card-body {
    padding: 40px;
    line-height: 2rem;
}
cite {
    font-weight: bold;
}
.quote-icon {
    color: #22333b;
    font-size: 50px;
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}
.card-footer ul {
    display: flex;
}
.card-footer ul li {
    
    list-style: none;
    margin: 0  5px;

    border: 2px solid #22333b;
    border-radius: 50%;

    height: 45px;
    width: 45px;

    color: #22333b;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-footer ul button {
    background-color: transparent;
    border: none;
    color: #22333b;
}
.card-footer i {
    font-size: larger;
    margin-left: 5px;
}